.calendar-table {
    margin: 5rem auto 10rem auto;
}

.calendar-header, .calendar-body {
    display: flex;
    justify-content: center;
}

.header-cell {
    font-size: 1.3rem;
    font-weight: 700;
    height: 3rem;
    width: 4rem;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calendar-body {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 500px) {
    .header-cell {
        font-size: 2rem;
        height: 5rem;
        width: 6rem;
    }
}

@media screen and (min-width: 750px) {
    .header-cell {
        font-size: 2rem;
        height: 5rem;
        width: 10rem;
    }
}