.cell {
    width: 4rem;
    height: 4rem;
    border: 1px solid green;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.cell:hover {
    background-color: green;
    color: whitesmoke;
}

.cell:hover .note-icon {
    fill: whitesmoke;
}

.cell-empty {
    background-color: rgb(131, 155, 131);
}

.cell-empty:hover {
    background-color: rgb(131, 155, 131);
}

.note-icon-container {
    width: 0.75rem;
    position: absolute;
    top: 0;
    right: 0.1rem;
}

.note-icon {
    fill: green;
}

@media screen and (min-width: 500px) {
    .cell {
        width: 6rem;
        height: 6rem;
    }
}

@media screen and (min-width: 750px) {
    .cell {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (min-width: 500px) {
    .note-icon-container {
        width: 1.3rem;
        top: 0.2rem;
        right: 0.2rem;
    }
}

@media screen and (min-width: 750px) {
    .note-icon-container {
        width: 2rem;
    }
}