.cell {
    width: 10rem;
    height: 10rem;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:hover {
    background-color: green;
    color: whitesmoke;
}

.cell-empty {
    background-color: rgb(131, 155, 131);
}

.cell-empty:hover {
    background-color: rgb(131, 155, 131);
}